#facets {
  ul.facet-hierarchy {
    margin-left: 8px;
    ul {
      margin-left: 0;
      border-bottom: none;
      padding-bottom: 0;
      li {
        margin-left: 8px; } }
    li.h-node {
      list-style-image: asset_data_url("blacklight/hierarchy/collapsed.png"); }
    li.h-node.twiddle-open {
      list-style-image: asset_data_url("blacklight/hierarchy/expanded.png"); } } }
