$text-muted: #777 !default;

.facet-hierarchy {
  list-style-type: none;
  padding-left: 0;

  ul {
    border-bottom: 0;
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 1.3em;
  }

  .facet_select {
    display: inline-block;
    margin-bottom: 6px;
    max-width: calc(100% - 5em);
  }

  .facet-count {
    float: right;
  }

  .toggle-handle {
    border: 0;
    margin: 0;
    min-width: 1em;
    padding: 0;
    vertical-align: top;

    .closed,
    .opened {
      display: none;
    }
  }

  .twiddle>.toggle-handle {
    background-color: transparent;
  }

  .twiddle>.toggle-handle .toggle-icon {
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3px;
    min-height: 20px;
    min-width: 20px;
  }

  .twiddle>.toggle-handle .closed {
    background-image: url('data:image/svg+xml, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus-square" class="svg-inline--fa fa-plus-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>');
    display: inline-block;
  }

  .twiddle>.toggle-handle .opened {
    display: none;
  }

  .twiddle-open>.toggle-handle .closed {
    display: none;
  }

  .twiddle-open>.toggle-handle .opened {
    background-image: url('data:image/svg+xml, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="minus-square" class="svg-inline--fa fa-minus-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M108 284c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h232c6.6 0 12 5.4 12 12v32c0 6.6-5.4 12-12 12H108zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>');
    display: inline-block;
  }

  .h-leaf {
    padding-left: 1.3em;
  }

  .h-node {
    cursor: pointer;
  }

  .remove {
    color: $text-muted;
  }
}
